.main-navigation, .page-main, .article-header h2, .image-section, .about-us-section, .news-article, .section-news, .realizations-container, .realizations-div .img-container, .realizations-div .img-container img, .section-employees, .employees-container2, .employees-unlock, .section-publications, .contact-container, .map img {
  margin-left: auto !important;
  margin-right: auto !important;
}

body, .nav, .navigation-menu, .image-section h1, .about-us-section h1, .realizations-div p, .unlock, .coppyright p {
  margin: 0;
  padding: 0;
}

.hamburger {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

body {
  font-family: 'Lato', sans-serif;
  background-color: #e6e6e6;
}

header {
  z-index: 10;
}

.main-header {
  position: fixed;
  background-color: #034A66;
  width: 100%;
  z-index: 100;
  -webkit-box-shadow: 0px -35px 40px 30px black;
  box-shadow: 0px -35px 40px 30px black;
}

.main-navigation {
  max-width: 1300px;
  position: relative;
  width: 90%;
}

.page-logo {
  width: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
}

.hamburger {
  clear: both;
  position: absolute;
  background: 0;
  border: 0;
  right: 20px;
}

.hamburger img {
  width: 40px;
}

.close {
  position: absolute;
  background: 0;
  border: 0;
  right: 0px;
  top: 0px;
}

.close img {
  width: 25px;
}

.navigation-menu {
  list-style: none;
  position: fixed;
  z-index: 10;
  top: 0;
  right: 35px;
  background-color: #034A66;
  opacity: 0.95;
  height: 100%;
  width: 40%;
}

.navigation-menu li {
  margin: 20px 10px;
  text-align: center;
}

.navigation-menu li:first-child {
  margin-top: 35px;
}

.navigation-menu li a:hover {
  color: #037D7D;
}

.navigation-menu li:nth-child(6) {
  margin-top: 50px;
}

.navigation-menu li:nth-child(6) a {
  padding: 10px;
  margin-top: 50px;
  border: 2px solid white;
  border-radius: 40px;
}

.navigation-menu li:nth-child(6) a:hover {
  padding: 10px;
  margin-top: 50px;
  border: 2px solid #037D7D;
  border-radius: 40px;
}

.navigation-menu a {
  text-decoration: none;
  color: white;
}

.navigation-menu-hidden {
  display: none;
}

.page-main {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.article-header {
  height: 80px;
  width: 100%;
  background-color: #034A66;
  color: white;
  padding-bottom: 0;
  text-align: center;
}

.article-header h2 {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 1300px;
  line-height: 80px;
  padding-left: 15px;
  border-bottom: 1px solid #00547D;
  font-size: 30px;
}

.white {
  background-color: #e6e6e6;
  color: black;
  border: unset;
}

.white h2 {
  border-bottom: 1px solid #00547D;
}

i {
  opacity: 0.3;
  z-index: 1;
}

i:hover {
  opacity: 0.5;
}

i:active {
  opacity: 0.7;
}

.image-article {
  background: url("../images/bg99.jpeg") no-repeat center 20px fixed;
  padding-top: 80px;
  background-size: cover;
  visibility: inherit;
  width: 100%;
  height: 550px;
}

.image-section {
  font-family: 'EB Garamond', serif;
  max-width: 1300px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  padding: 20px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: white;
  text-shadow: 1px 0 2px black, -1px 0 2px black, 0 1px 2px black, 0 -1px 2px black;
}

.image-section h1 {
  letter-spacing: 1px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 300px;
  font-size: 30px;
  margin-bottom: 30px;
}

.image-section p {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 300px;
  font-size: 16px;
  margin: 5px 0;
  text-align: justify;
}

.flex-container {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: auto;
}

.about-us-article {
  width: 100%;
  height: 600px;
}

.about-us-section {
  max-width: 1300px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  padding: 20px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.about-us-section h1 {
  font-family: 'EB Garamond', serif;
  color: #034A66;
  padding-right: 10px;
  letter-spacing: 1px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 85px;
  font-size: 30px;
}

.about-us-section p {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 350px;
  margin: 0;
  padding: 14px;
  text-align: justify;
  font-size: 16px;
}

.flex-container2 {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 400px;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: auto;
}

.about-us-img {
  display: none;
  width: 44%;
}

.about-us-img img {
  width: 100%;
  -webkit-box-shadow: 2px 2px 15px #777777;
  box-shadow: 2px 2px 15px #777777;
}

.news-article {
  width: 100%;
  background-color: #034A66;
  padding: 40px 0 100px 0;
  margin-top: 0;
}

.section-news {
  max-width: 1300px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #00547D;
}

.section-news > i {
  color: white;
  font-size: 30px;
  padding: 0 10px;
}

.news-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
  overflow: hidden;
}

.news-div {
  padding: 0;
  margin-right: 40px;
  width: 400px;
  height: 210px;
  min-width: 200px;
  color: white;
}

.news-div p {
  border-bottom: 1px solid #00547D;
  overflow: hidden;
  height: 150px;
}

.news-div i {
  margin-bottom: 10px;
  opacity: 1;
  font-size: 16px;
}

.opacity {
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  border: unset;
}

.realizations-article {
  width: 100%;
  margin-top: 100px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #e6e6e6;
  background: url("../images/art1.jpeg") no-repeat center 20px fixed;
}

.section-realizations {
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px 15px;
  padding-bottom: 0px;
  height: 600px;
}

.realizations-container {
  max-width: 1300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  height: 100%;
  font-size: 14px;
  overflow: hidden;
  border-bottom: 1px solid #00547D;
}

.realizations-div {
  border-radius: 10px;
  color: white;
  width: 300px;
  height: 150px;
  margin: 20px;
  padding: 10px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
  opacity: 0.7;
}

.realizations-div:hover {
  opacity: 1;
}

.realizations-div .img-container {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
  -webkit-filter: grayscale(0.7);
  filter: grayscale(0.7);
}

.realizations-div .img-container:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

.realizations-div .img-container img {
  height: 100%;
}

.unlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 100%;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
}

.unlock i {
  height: 40px;
  font-size: 30px;
}

.employees-article {
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #e6e6e6;
  margin-top: 100px;
}

.employees-container {
  height: 500px;
  overflow: hidden;
}

.section-employees {
  max-width: 1300px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px 15px;
  padding-bottom: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.employees-container2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-line-pack: center;
  align-content: center;
}

.employees-container2 h3 {
  width: 100%;
  text-align: center;
}

.employees-div {
  border-bottom: 1px solid #00547D;
  width: 200px;
  height: 200px;
  margin: 20px;
  text-align: center;
  margin: 10px 40px;
}

.employees-div img {
  opacity: 0.8;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

.employees-div img:hover {
  opacity: 1;
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

.boss {
  max-width: 650px;
}

.boss div {
  height: 250px;
}

.boss img {
  width: 120px;
}

.administration {
  max-width: 650px;
}

.employees-unlock {
  max-width: 1300px;
  background-color: #034A66;
}

.publications-article {
  width: 100%;
  margin-top: 100px;
}

.section-publications {
  max-width: 1300px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px 15px;
  padding-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.section-publications > i {
  color: black;
  font-size: 30px;
  padding: 10px 0 40px 10px;
}

.publications-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
  overflow: hidden;
}

.publications-div {
  padding: 15px 0;
  margin-right: 40px;
  height: 200px;
  min-width: 200px;
  font-size: 14px;
  text-align: justify;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.publications-div p {
  width: 100%;
  height: 180px;
  overflow: hidden;
  border-bottom: 1px solid #00547D;
}

.publications-div > i {
  width: 40px;
  font-size: 16px;
  margin-right: auto;
  margin-left: auto;
  color: black;
}

.page-footer {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 40px;
  margin-bottom: 0;
  padding: 0;
  background-color: #034A66;
  color: white;
  text-align: center;
  font-size: 20px;
  position: relative;
}

.footer-container {
  padding-top: 40px;
}

.contact-container {
  max-width: 1300px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-bottom: 50px;
  overflow: hidden;
  border-bottom: 1px solid #00547D;
}

.contact-div {
  border-bottom: 1px solid #00547D;
  width: 220px;
  height: 140px;
  margin: 20px;
  font-size: 16px;
}

.contact-div i {
  opacity: 1;
}

.map {
  margin: 0;
  width: 100%;
  overflow: hidden;
}

.map img {
  height: 450px;
}

.footer-menu {
  list-style: none;
  padding: 20px 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #00547D;
}

.footer-menu li {
  margin: 40px 10px;
  text-align: center;
  display: inline;
  margin-right: 5px;
  font-size: 16px;
}

.footer-menu li:first-child {
  margin-top: 35px;
}

.footer-menu li a:hover {
  color: #037D7D;
}

.footer-menu a {
  text-decoration: none;
  color: white;
}

.footer-logo {
  height: 50px;
}

.coppyright {
  padding-bottom: 10px;
  line-height: 10px;
  font-size: 12px;
}

#author {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 2px;
  margin: 0;
  font-size: 8px;
}

@media only screen and (min-width: 55em) {
  .main-header {
    margin-bottom: 160px;
  }
  .page-logo {
    width: 70px;
  }
  .main-navigation {
    width: 98%;
    height: 90px;
  }
  .hamburger {
    display: none;
  }
  .navigation-menu {
    display: unset;
    position: absolute;
    top: 35.5px;
    height: auto;
    width: auto;
    background-color: unset;
  }
  .navigation-menu li {
    display: inline;
    margin-right: 5px;
    font-size: 16px;
  }
  .navigation-menu .close {
    display: none;
  }
  .article-header h2 {
    padding-left: 40px;
  }
  .image-article {
    padding-top: 100px;
    width: 100%;
    height: 620px;
  }
  .image-section {
    padding: 30px 40px;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
  .image-section h1 {
    width: 400px;
    margin-bottom: 30px;
  }
  .image-section p {
    width: 400px;
    margin: 20px 0;
    font-size: 18px;
  }
  .flex-container {
    overflow: visible;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
  .image-title {
    padding-left: 20px;
  }
  .image-div {
    padding: 20px;
    min-width: 250px;
  }
  .about-us-section {
    padding: 30px 40px;
  }
  .about-us-img {
    display: unset;
  }
  .news-article {
    width: 100%;
  }
  .section-news {
    padding: 10px 40px;
    padding-bottom: 60px;
  }
  .news-div {
    min-width: 200px;
  }
  .realizations-article {
    width: 100%;
  }
  .section-realizations {
    padding: 30px 40px;
    padding-bottom: 0px;
  }
  .realizations-div {
    width: 250px;
    height: 220px;
  }
  .img-container {
    width: 140px !important;
    height: 140px !important;
  }
  .employees-article {
    width: 100%;
  }
  .section-employees {
    padding: 30px 40px;
    padding-bottom: 0px;
  }
  .publications-article {
    width: 100%;
  }
  .section-publications {
    padding: 10px 40px;
    padding-bottom: 60px;
  }
  .publications-div {
    min-width: 200px;
  }
  .navigation-footer {
    display: none;
  }
  .map {
    width: 100%;
  }
  .map img {
    width: 100%;
  }
}
