body, .main-navigation, .page-main, .about-us-article, .news-article, .realizations-article, .page-footer, .footer-container {
  margin-left: auto;
  margin-right: auto;
}

.nav, .navigation-menu, .article-header, .article-header h2, .unlock, .coppyright p {
  margin: 0;
  padding: 0;
}

.hamburger {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

body {
  margin: 0;
  max-width: 1920px;
  font-family: 'Lato', sans-serif;
}

header {
  z-index: 1;
  height: 110px;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 80px;
}

.main-header {
  background-color: #034A66;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 80px;
  border-bottom: 1px solid #00547D;
}

.main-navigation {
  position: relative;
  width: 80%;
}

.sticky {
  position: fixed;
  margin: 0;
  top: 0;
}

.page-logo {
  width: 80px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
}

.hamburger {
  clear: both;
  position: absolute;
  background: 0;
  border: 0;
  right: 20px;
}

.hamburger img {
  width: 40px;
}

.close {
  position: absolute;
  background: 0;
  border: 0;
  right: 0px;
  top: 0px;
}

.close img {
  width: 25px;
}

.navigation-menu {
  list-style: none;
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  background-color: #034A66;
  opacity: 0.95;
  height: 100%;
  width: 40%;
}

.navigation-menu li {
  margin: 20px 10px;
  text-align: center;
}

.navigation-menu li:first-child {
  margin-top: 35px;
}

.navigation-menu li a:hover {
  color: #037D7D;
}

.navigation-menu li:nth-child(6) {
  margin-top: 50px;
}

.navigation-menu li:nth-child(6) a {
  padding: 10px;
  margin-top: 50px;
  border: 2px solid white;
  border-radius: 40px;
}

.navigation-menu li:nth-child(6) a:hover {
  padding: 10px;
  margin-top: 50px;
  border: 2px solid #037D7D;
  border-radius: 40px;
}

.navigation-menu a {
  text-decoration: none;
  color: white;
}

.navigation-menu-hidden {
  display: none;
}

#bg-image {
  background-image: url("../images/bg.jpg");
  z-index: -1;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

/*
div::-webkit-scrollbar {
    display: none;
}
*/
.page-main {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 150px;
}

.article-header {
  overflow: hidden;
  width: 100%;
  height: 80px;
  background-color: #034A66;
  color: white;
  border-bottom: 1px solid #00547D;
}

.article-header h2 {
  line-height: 80px;
  padding-left: 15px;
}

.about-us-article {
  width: 90%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fafafa;
  margin-top: 30px;
}

.section-about-us {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.about-us-title {
  font-weight: 700;
  font-size: 16px;
  width: 5%;
  min-width: 65px;
  padding-right: 10px;
}

.about-us-container {
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-height: 250px;
  overflow: hidden;
}

.about-us-div {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 30%;
  min-width: 180px;
}

.news-article {
  width: 90%;
  background-color: #034A66;
  margin-top: 30px;
}

.section-news {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px 15px;
  padding-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.news-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
  overflow: hidden;
}

.news-div {
  padding: 0 50px 0 0;
  width: 400px;
  height: 200px;
  min-width: 200px;
  color: white;
  overflow: hidden;
}

.arrow-news {
  border-top: 35px solid transparent;
  border-left: 20px solid white;
  border-bottom: 35px solid transparent;
  opacity: 0.2;
  margin-left: 40px;
}

.arrow-news:hover {
  opacity: 0.4;
}

.arrow-news:active {
  opacity: 0.6;
}

.realizations-article {
  width: 90%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fafafa;
  margin-top: 30px;
}

.section-realizations {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px 15px;
  padding-bottom: 0px;
  height: 500px;
}

.realizations-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  height: 100%;
  overflow: hidden;
  border-bottom: 1px solid #00547D;
}

.realizations-div {
  border: 2px solid green;
  padding: 0 50px 0 0;
  width: 250px;
  height: 250px;
  margin: 20px;
}

.unlock {
  overflow: hidden;
  width: 100%;
  height: 80px;
  background-color: #034A66;
  color: white;
  border-bottom: 1px solid #00547D;
}

.arrow-realizations {
  width: 0;
  height: 0;
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
  border-top: 20px solid white;
  opacity: 0.2;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
}

.arrow-realizations:hover {
  opacity: 0.4;
}

.arrow-realizations:active {
  opacity: 0.6;
}

.page-footer {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 40px;
  margin-bottom: 0px;
  padding: 5px;
  background-color: #034A66;
  color: white;
  text-align: center;
  font-size: 20px;
  position: relative;
}

.footer-container {
  width: 80%;
}

.footer-logo {
  height: 80px;
  padding-top: 0px;
}

.coppyright {
  padding-bottom: 0px;
  line-height: 10px;
  font-size: 12px;
}

#author {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 2px;
  margin: 0;
  font-size: 8px;
}

@media only screen and (min-width: 55em) {
  .main-header {
    margin-bottom: 160px;
  }
  .main-navigation {
    width: 78%;
    height: 110px;
  }
  .hamburger {
    display: none;
  }
  .navigation-menu {
    display: unset;
    position: absolute;
    top: 45.5px;
    height: auto;
    width: auto;
    background-color: unset;
  }
  .navigation-menu li {
    display: inline;
    text-align: center;
    margin-right: 5px;
    font-size: 16px;
  }
  .navigation-menu .close {
    display: none;
  }
  .article-header h2 {
    padding-left: 60px;
  }
  .about-us-article {
    width: 80%;
  }
  .section-about-us {
    padding: 30px 60px;
  }
  .about-us-title {
    padding-left: 20px;
  }
  .about-us-div {
    padding: 20px;
    min-width: 250px;
  }
  .news-article {
    width: 80%;
  }
  .section-news {
    padding: 10px 60px;
    padding-bottom: 60px;
  }
  .news-div {
    min-width: 200px;
  }
  .realizations-article {
    width: 80%;
  }
  .section-realizations {
    padding: 30px 60px;
    padding-bottom: 0px;
  }
  .navigation-footer {
    display: none;
  }
}
